[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/syrajendra
[access "refs/for/refs/*"]
	read = group user/syrajendra
	push = group user/syrajendra
	label-Code-Review = -2..+2 group user/syrajendra
	label-Verified = -1..+1 group user/syrajendra
	rebase = group user/syrajendra
	removeReviewer = group user/syrajendra
	submit = group user/syrajendra
[access "refs/heads/*"]
	read = group user/syrajendra
	create = group user/syrajendra
	push = +force group user/syrajendra
	pushMerge = group user/syrajendra
[access "refs/tags/*"]
	push = +force group user/syrajendra
	pushTag = group user/syrajendra
	pushSignedTag = group user/syrajendra
